<div ui-sref='mapView' >

	<div id="loc"></div>

	<div class="loading" ng-if="loading">
		<img src="/assets/map_loading.gif">
	</div>


	<div id="mapDiv" ng-if="coords">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' maker=>
			<ui-gmap-marker  coords="maker" icon='options' idkey="1"></ui-gmap-marker>	
		</ui-gmap-google-map>
	</div>

	<div class="btn-Center">
		<button class="btn btn-danger" ng-click='myRide()' >Request Ride</button>
	</div>

	<div id="mapUsers">
		<div class="clear" ng-repeat='user in mockUsers'>
			<div class="mapUserImg">
				<img class="img-responsive" src="http://falconbus.in/images/site/user_icon.png">
			</div>
			<h1> {{ user.username }} </h1>
			<p> {{ user.mess}} </p>
		</div> 
	</div>
	

</div>