.angular-google-map-container { 
    height: 300px; 
}

/*
================================
button styling
================================
*/
.btn-Center {
	text-align: center;
	margin: 0 auto;
}
/*
================================
map styling
================================
*/
#mapDiv {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

#mapUsers {
	height: 290px;
	overflow: scroll;
}

.loading {
height: 200px;
margin-top: 100px;	
text-align: center;
}

.mapUserImg {
  height: 70px;
  width: 65px;
  float: left;
}

.clear {
  width: 500px;
  height: 70px;
  margin: 0 auto;
  border-radius: 0 15px 15px 0;
 /* border-style: solid;
  border-color: black;*/
  clear: both;
  background-color: #f2f2f2;

}

#userProfile {
	height: 350px;
	overflow: scroll;
	background-color: purple;
}

.UsersList {
	background-color: #F2F2F2;
	height: 350px;
	width: 350px;
	margin: 0 auto;
	border: 1px solid gray;
	box-shadow: 1px 1px 2px;
	margin-top: 10px;
}

.userListImg {
	height: 200px;
	width: 200px;
}