.angular-google-map-container { 
    height: 300px; 
}

/*
================================
button styling
================================
*/
.btn-Center {
	text-align: center;
	margin: 0 auto;
}
/*
================================
map styling
================================
*/
#mapDiv {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

.mapUserImg {
	height: 70px;
	width: 70px;
	float: left;
}

.clear {
	width: 500px;
	height: 70px;
	margin: 0 auto;
	clear: both;
	background-color: purple;
}
/*
================================
map styling
================================
*/

.UsersList {
	background-color: #F2F2F2;
	height: 350px;
	width: 350px;
	margin: 0 auto;
	border: 1px solid gray;
	box-shadow: 1px 1px 2px;
	margin-top: 10px;
}

.userListImg {
	height: 200px;
	width: 200px;
}