<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logos"  ui-sref="login">Neighbor Pool</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a ui-sref="mapView">Map<span class="sr-only">(current)</span></a></li>
        <li><a href="#" ng-click="signOut()">Signout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Send a message</h3>
        </div>
        <div class="modal-body">
          <textarea class="messageBox" ng-model='message'></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>



<h4 class="profileHeader">Meet your neighbors through ride sharing</h4>
<div  ui-sref='userProfile' id="userProfile">
  <div id="scrollUsers">Scroll Users</div>
  <div class="usersList" ng-repeat='user in allUsers'>

      <div class="thumbnail">
        <img src="http://falconbus.in/images/site/user_icon.png" alt="...">
        <div >
          <h2 class="username"> {{ "@" + user.username }} </h2>
          <p class="caption"> {{ user.message }} </p>
          <p class="caption">Daily Routies</p>
          <div class="buttons">
            <a ng-click='changeThumbColor()' class="thumbs btn btn-default" role="button"><img src="../assets/thumbs-up-icon (1).png"></a>
            <span><a ng-click="open('sm')" class="btn btn-primary message" role="button">Message</a></span>
          </div>
        </div>
      </div> 

  </div>
</div>